@include rows();

.column_3 {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    @include mq(sm) {
        flex-direction: column;
        justify-content: flex-start;
    }
    @include mq(md) {
        flex-direction: row;
        justify-content: space-between;
    }
    .c_content,.c_conetnt_blank {
        margin-bottom:20px;
        @include mq(sm) {
            width:100%;
        }
        @include mq(md) {
            width:30%;
        }
    }
    .c_content {
        h3 {
            font-size:20px;
            font-weight: bold;
        }
        p {
            margin-top:10px;
            font-size:15px;
            line-height:160%;
        }
    }
    .c_conetnt_blank {
        height:1px;
    }
}