*,
::after,
::before {
  -webkit-box-sizing      : border-box;
  -moz-box-sizing         : border-box;
  box-sizing              : border-box;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
}

html {
  font-family              : sans-serif;
  -webkit-text-size-adjust : 100%;
}

body {
  background-color         : var(--color-body);
  color                    : var(--color-text);
  -webkit-text-size-adjust : 100%;
  text-rendering           : optimizeLegibility;
  font-family: var(--fontfamily-body);
}

a {
  color : var(--color-text-link);
  &:hover {
    transition : 0.5s;
    color      : var(--color-text-link_hover);
  }
}

.flex_between {
  display         : flex;
  justify-content : space-between;
}