button,
.button,
.btn,
.btn_primary,
.btn_danger,
.btn_warning,
.btn_success,
.btn_info {
  display            : inline-block;
  font-size          : calc(var(--fontsize-m) - 1px);
  line-height        : 100%;
  padding            : 12px 20px;
  min-width          : 80px;
  text-align         : center;
  border-radius      : 3px;
  border             : none;
  -webkit-appearance : none;
  cursor             : pointer;

  &:disabled,
  &.disabled {
    pointer-events : none;
    opacity        : 0.6;
  }

  &:hover {
    transition : 0.5s;
  }
}

.btn_large {
  padding   : 20px 40px;
  min-width : 160px;
  font-size : calc(var(--fontsize-m) + 5px);
}

.btn_primary {
  color            : var(--color-primary-text);
  background-color : var(--color-primary);

  &:hover {
    color            : var(--color-primary-text);
    background-color : var(--color-primary-hover);
  }
}

.btn_warning {
  color            : var(--color-warning-text);
  background-color : var(--color-warning);

  &:hover {
    color            : var(--color-warning-text);
    background-color : var(--color-warning-hover);
  }
}

.btn_success {
  color            : var(--color-success-text);
  background-color : var(--color-success);

  &:hover {
    color            : var(--color-success-text);
    background-color : var(--color-success-hover);
  }
}

.button,
.btn_danger {
  color            : var(--color-danger-text);
  background-color : var(--color-danger);

  &:hover {
    color            : var(--color-danger-text);
    background-color : var(--color-danger-hover);
  }
}

.btn_info {
  color            : var(--color-info-text);
  background-color : var(--color-info);

  &:hover {
    color            : var(--color-info-text);
    background-color : var(--color-info-hover);
  }
}