.form {
  @extend .card;
  padding : 20px;

  @include mq(md) {
    padding : 40px;
  }

  .form-message {
    margin-top : 20px;
    color      : var(--color-warning);

    &.success {
      color : var(--color-success);
    }
  }

  .form-control {
    &.error {
      border-color : var(--color-danger);
    }

    &.valid {
      border-color : var(--color-success);
    }
  }

  .form-group {
    margin-bottom : 30px;
    align-items   : flex-start;

    &.submit {
      text-align : center;
    }

    &.agree {
      text-align  : center;
      position    : relative;
      padding-top : 20px;
      font-size   : 14px;

      label.error {
        position   : absolute;
        left       : 0;
        right      : 0;
        top        : 0;
        text-align : center;
      }
    }

    label.error {
      font-size : 13px;
      color     : var(--color-danger);
    }
  }

  .form-label {
    font-weight : 500;
    font-size   : 18px;
    display     : flex;
    align-items : center;

    .required {
      background-color : var(--color-danger);
      color            : #fff;
      border-radius    : 3px;
      font-size        : 10px;
      padding          : 0 10px;
      line-height      : 20px;
      margin-left      : 15px;
    }
  }

  .form-check-inline {
    display      : inline-block;
    margin-right : 15px;
  }
}