.keyvisual {
  background-color : var(--color-body);

  .amp-carousel-slide {
    .container {
      height : 100%;
    }

    .content {
      min-height : 100%;
    }
  }

  .amp-carousel-button-prev,
  .amp-carousel-button-next {
    background-color : transparent;
    box-shadow       : none;
    width            : 40px;
    height           : 40px;
    background-size  : 18px;
    @include mq(xl) {
      width           : 50px;
      height          : 50px;
      background-size : 23px;
    }
  }

  .amp-carousel-button-prev {
    left             : 0;
    @include mq(xl) {
      left : 45px;
    }
    background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40.157' height='70.265' viewBox='0 0 40.157 70.265'%3E%3Cg id='arrow' transform='translate(560.664 -74.689) rotate(-90)'%3E%3Cpath id='Path_7' data-name='Path 7' d='M2,30.085,30.061,2,58.123,30.085' transform='translate(-139.883 -557.664)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }

  .amp-carousel-button-next {
    right            : 0;
    @include mq(xl) {
      right : 45px;
    }
    background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40.157' height='70.265' viewBox='0 0 40.157 70.265'%3E%3Cg id='arrow' transform='translate(-520.508 144.954) rotate(90)'%3E%3Cpath id='Path_7' data-name='Path 7' d='M2,30.085,30.061,2,58.123,30.085' transform='translate(-139.883 -557.664)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }

  .content {
    color           : var(--color-keyvisual);
    min-height      : calc(100vh - 200px);
    padding-top     : 100px;
    padding-bottom  : 100px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;

    .catchphrase, .lead, .btn_area {
      margin-bottom : 20px;
    }

    .catchphrase {
      font-size   : var(--margin-size-l);
      line-height : 152%;
      text-shadow : 0 3px 3px rgba(#000, 0.25);
    }

    .lead {
      font-size   : var(--fontsize-l);
      line-height : 177%;
      text-shadow : 0 3px 3px rgba(#000, 0.15);
    }

    .btn_area {
      & > .btn {
        background-color: var(--color-keyvisual_btn);
        color: var(--color-keyvisual_btn-text);
        font-weight: bold;
        box-shadow: 0 3px 3px rgba(#000, 0.15);
        &:hover {
          color: var(--color-keyvisual_btn-text);
          background-color: var(--color-keyvisual_btn-darken);
        }
      }
    }
  }

  .nutrail-slider {
    .content {
      padding-left  : 20px;
      padding-right : 20px;
      @include mq(xl) {
        padding-left  : 0;
        padding-right : 0;
      }
    }
  }

  .tns-outer {
    .tns-controls {
      button {
        background : transparent;
        box-shadow : none;

        svg {
          stroke : #fff;
          height : 25px;
          @include mq(xl) {
            height : 40px;
          }
        }
      }

      [data-controls="prev"] {
        left : 0;
        @include mq(xl) {
          left : 45px;
        }
      }

      [data-controls="next"] {
        right : 0;
        @include mq(xl) {
          right : 45px;
        }
      }
    }
  }
}