.navbar {
  .tels {
    .tel_number {
      font-size   : var(--fontsize-navbar-tel);
      line-height : 100%;
      text-align  : center;
      font-weight : bold;

      svg {
        margin-right : 0;
        stroke       : var(--color-navbar-top-text);
      }
    }

    .tel_description {
      font-size   : var(--fontsize-xs);
      color : var(--color-navbar-top-text);
      text-align  : center;
      line-height : 100%;
      margin-top  : 5px;
    }
  }

  .view_pc {
    @include mq(sm) {
      display : none;
    }

    @include mq(md) {
      display : block;
    }

    .group_infos {
      width            : 100%;
      height           : 70px;
      background-color : var(--color-navbar-top-bg);
      border-bottom    : 1px solid var(--color-navbar-line);

      .wrap {
        height          : 70px;
        display         : flex;
        justify-content : space-between;

        .group_logo {
          display     : flex;
          align-items : center;

          a {
            display : flex;
          }

          & > h1.logo {
            font-size : 20px;
            max-width : 145px;

            img {
              height : 40px;
              width  : auto;
            }
          }

          & > p.lead {
            font-size   : var(--fontsize-xs);
            margin-left : 10px;
          }
        }

        .group_btn {
          display     : flex;
          align-items : center;

          & > ul {
            display : flex;

            & > li {
              margin-right : 10px;

              &:last-child {
                margin-right : 0;
                margin-left  : 10px;
              }
            }
          }
        }
      }

    }

    .group_menu {
      background-color : var(--color-navbar-bottom-bg);
      height           : 100px;
      box-shadow       : var(--boxshadow);
      position         : relative;

      .menu {
        height  : 100px;
        display : flex;

        & > li {
          height   : 100px;
          position : relative;
          width    : 16.6666666666666%;

          &.current-menu-parent,
          &.current-menu-item {
            background-color : var(--color-navbar-bottom-bg_hover);
            box-shadow       : var(--boxshadow);
          }

          &:hover {
            background-color : var(--color-navbar-bottom-bg_hover);
            box-shadow       : var(--boxshadow);
            transition       : 0.2s;

            & > ul {
              transition       : 0.2s;
              background-color : var(--color-navbar-bottom-bg_hover);
              display          : block;
            }
          }

          & > a {
            height          : 100px;
            font-size       : var(--fontsize-m);
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            text-align      : center;
            justify-content : center;
            color           : var(--color-navbar-bottom-text);
          }

          & > ul {
            z-index   : 10;
            display   : none;
            position  : absolute;
            top       : 100px;
            width     : 100%;
            left      : 0;
            font-size : var(--fontsize-m);

            & > li {
              &.current-menu-item {
                > a {
                  background-color : var(--color-navbar-bottom-bg_hover);
                }
              }

              & > a {
                display   : block;
                font-size : var(--fontsize-m) - 2px;
                padding   : 10px;
                background-color : var(--color-navbar-bottom-bg);
                color     : var(--color-navbar-bottom-text);

                &:hover {
                  transition       : 0.5s;
                  background-color : var(--color-navbar-bottom-bg_hover);
                }
              }
            }
          }
        }
      }
    }
  }

  .view_sp {
    @include mq(sm) {
      display    : block;
      box-shadow : var(--boxshadow);
      z-index    : 5;
      position   : relative;
    }

    @include mq(md) {
      display : none;
    }

    .group_logos {
      display          : flex;
      flex-direction   : row;
      flex-wrap        : nowrap;
      justify-content  : space-between;
      height           : 70px;
      background-color : var(--color-navbar-top-bg);
      align-items      : center;

      & > .logo {
        order       : 2;
        line-height : 100%;
        font-size   : 20px;
        font-weight : bold;

        img {
          height : 50px;
          width  : auto;
        }
      }

      & > .humberger {
        order        : 3;
        margin-right : 10px;
        cursor       : pointer;

        &.active {
          .line1 {
            transform : translateY(19px) rotate(-45deg);
          }

          .line2 {
            opacity : 0;
          }

          .line3 {
            transform : translateY(-19px) rotate(45deg);
          }
        }

        & > ul {
          width    : 40px;
          height   : 40px;
          position : relative;

          & > li {
            display            : block;
            height             : 2px;
            width              : 40px;
            background-color   : var(--color-navbar-top-text);
            position           : absolute;
            -webkit-transition : all 0.4s ease-in-out;
            -moz-transition    : all 0.4s ease-in-out;
            -o-transition      : all 0.4s ease-in-out;
            transition         : all 0.4s ease-in-out;

            &.line1 {
              top : 0;
            }

            &.line2 {
              top : calc(50% - 1.5px);
            }

            &.line3 {
              bottom : 0;
            }
          }
        }
      }

      & > .spacer {
        width       : 40px;
        height      : 40px;
        order       : 1;
        margin-left : 10px;
      }
    }

    .group_menu {
      display    : none;
      position   : relative;
      height     : calc(100vh - 70px);
      overflow-x : hidden;
      background-color : var(--color-navbar-top-bg);

      &.open {
        display : block;
      }

      & > .info {
        position         : absolute;
        top              : 10px;
        left             : 0;
        width            : 100%;
        background-color : var(--color-navbar-top-bg);

        .btns {
          display         : flex;
          justify-content : center;
          flex-wrap       : wrap;
          margin-bottom   : 40px;
          margin-top      : 10px;

          li {
            padding : 0 10px;

            &.tels {
              width         : 100%;
              margin-bottom : 30px;
            }
          }
        }

        .menu {
          border-bottom : 1px solid var(--color-navbar-line);

          a {
            display     : block;
            padding     : 10px 40px 10px 20px;
            font-size   : var(--fontsize-l);
            line-height : 32px;
            position    : relative;
            font-weight : 500;
            color:var(--color-navbar-top-text);
          }

          .sub-menu {
            display          : none;
            background-color : var(--color-navbar-top-bg_hover);
            padding-left     : 10px;

            a {
              font-size   : var(--fontsize-m);
              font-weight : 400;
            }
          }

          > li {
            border-top : 1px solid var(--color-navbar-line);
            position   : relative;

            &.open-submenu > .sub-menu {
              display : block;
            }
          }
        }

        .carets {
          position : absolute;
          height   : 30px;
          width    : 30px;
          cursor   : pointer;
          right    : 20px;
          top      : 12px;
          z-index  : 2;

          &::before {
            content            : "";
            width              : 2px;
            background-color   : var(--color-navbar-top-text);
            position           : absolute;
            top                : calc(50% - 8px);
            left               : calc(50% - 1px);
            height             : 16px;
            -webkit-transition : all 0.4s ease-in-out;
            -moz-transition    : all 0.4s ease-in-out;
            -o-transition      : all 0.4s ease-in-out;
            transition         : all 0.4s ease-in-out;
          }

          &::after {
            content          : "";
            height           : 2px;
            width            : 16px;
            position         : absolute;
            background-color : var(--color-navbar-top-text);
            top              : calc(50% - 1px);
            left             : calc(50% - 8px);
            right            : 0;
          }

          &.active {
            &::before {
              transform : rotate(90deg);
            }
          }
        }
      }
    }
  }
}