.sections {
  overflow : hidden;

  & > .section {
    // Bg Color
    background-color : var(--color-body-section_bg1);
    color:var(--color-body-section_bg1_text);

    &:nth-child(odd) {
      background-color : var(--color-body-section_bg2);
      color:var(--color-body-section_bg2_text);
      .content {
        .titles {
          .title_eng {
            color:var(--color-text-title_lg2);
          }
        }
      }
    }

    // Content
    .content {
      display        : block;
      position       : static;
      padding-top    : var(--margin-size-xl);
      padding-bottom : var(--margin-size-xl);

      // Titles
      .titles {
        display         : flex;
        flex-direction  : column;
        align-items     : center;
        justify-content : center;

        &.center {
          text-align : center;
        }

        > *:not(:last-child) {
          margin-bottom : 20px;
          @include mq(md) {
            margin-bottom : 30px;
          }
        }

        .title_eng {
          order          : 1;
          font-size      : var(--fontsize-xxxl);
          font-weight    : 900;
          color          : var(--color-text-title_lg);
          line-height    : 130%;
          letter-spacing : 5px;
          @include mq(sm) {
            font-size : var(--fontsize-xxxl-sp);
          }
          @include mq(md) {
            font-size : var(--fontsize-xxxl);
          }
        }

        .title {
          order       : 2;
          font-size   : var(--fontsize-xl);
          font-weight : bold;
        }

        .lead {
          order       : 3;
          padding     : 0;
          font-size   : var(--fontsize-l);
          line-height : 177%;
        }
      }

      .content_inner {
        display    : block;
        margin-top : var(--margin-size-l);
      }
    }
  }
}

.section_description {
  .content {
    text-align : center;

    .subvisual {
      .thumbnail {
        box-shadow : var(--boxshadow);

        &::before {
          padding-top : 435px;
        }
      }
    }

    h2 {
      font-size     : 40px;
      margin-top    : var(--margin-size-l);
      margin-bottom : var(--margin-size-l);
      line-height   : 140%;
    }

    p {
      font-size   : var(--fontsize-l);
      line-height : 177%;
    }
  }
}

.service_list {
  & > li {
    background-color : var(--color-card);
    color:var(--color-card-text);
    margin-bottom    : var(--margin-size-l);
    box-shadow       : var(--boxshadow-s);

    &:hover {
      transition: 0.5s ;
      box-shadow : var(--boxshadow);
    }

    & > .wrap {
      padding         : 15px;
      display         : flex;
      justify-content : space-between;
      flex-direction  : column;

      @include mq(md) {
        flex-direction : row;
      }

      .thumbnails {
        margin-bottom : 20px;
        border : 1px solid var(--color-line);

        @include mq(md) {
          width         : 30%;
          padding       : 10px;
          margin-bottom : 0;
        }
      }

      .text {
        @include mq(md) {
          width : 68%;
        }

        .meta {
          font-size     : var(--fontsize-l);
          font-weight   : 400;
          margin-bottom : 15px;

          > * {
            color : var(--color-text);

            &:not(:last-child) {
              margin-right : 20px;
            }
          }
        }

        .title, h2, h3, h4 {
          font-size     : var(--fontsize-lplus);
          margin-bottom : 15px;
          font-weight   : bold;
          -ms-word-wrap : break-word;
          word-wrap     : break-word;
          line-height   : 138%;
        }

        .date,.author {
          font-size:var(--fontsize-s );
        }

        p {
          @extend .text_post_content;
        }
      }
    }
  }
}

.section_point,.archive_column {
  ul.row{
    & > li {
      & > .point {
        .thumbnails {
          border-bottom : 1px solid var(--color-line);
        }
      }
    }
  }
}