.nutrail-slider {
  flex-wrap   : nowrap;
  white-space : nowrap;
  margin      : 0;

  > * {
    margin : 0;
  }

  &:not(.tns-slider) {
    overflow : hidden;
  }
}

.amp-carousel-button-prev,
.amp-carousel-button-next {
  background-color    : var(--color-card);
  -moz-border-radius  : 50%;
  border-radius       : 50%;
  -moz-box-shadow     : var(--boxshadow-s);
  box-shadow          : var(--boxshadow-s);
  width               : 40px;
  height              : 40px;
  margin              : 0;
  background-size     : 10px;
  background-position : center center;
  background-repeat   : no-repeat;
}

.amp-carousel-button-prev {
  left             : 20px;
  background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40.157' height='70.265' viewBox='0 0 40.157 70.265'%3E%3Cg id='arrow' transform='translate(560.664 -74.689) rotate(-90)'%3E%3Cpath id='Path_7' data-name='Path 7' d='M2,30.085,30.061,2,58.123,30.085' transform='translate(-139.883 -557.664)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.amp-carousel-button-next {
  right            : 20px;
  background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40.157' height='70.265' viewBox='0 0 40.157 70.265'%3E%3Cg id='arrow' transform='translate(-520.508 144.954) rotate(90)'%3E%3Cpath id='Path_7' data-name='Path 7' d='M2,30.085,30.061,2,58.123,30.085' transform='translate(-139.883 -557.664)' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.tns-outer {
  position : relative;

  [hidden] {
    display : none;
  }

  [aria-controls], [data-action] {
    cursor : pointer;
  }

  .tns-fadeIn {
    opacity : 1;
    filter  : alpha(opacity=100);
    z-index : 0;
  }

  .tns-normal, .tns-fadeOut {
    opacity : 0;
    filter  : alpha(opacity=0);
    z-index : -1;
  }

  .tns-ovh {
    overflow : inherit;
  }

  .tns-liveregion {
    display : none;
  }

  .tns-item {
    margin : 0;

    &:not(.tns-slide-active) {
      opacity        : 0.5;
      pointer-events : none;
    }
  }

  .tns-controls {
    button {
      position           : absolute;
      background-color    : var(--color-card);
      color:var(--color-card-text);
      -moz-border-radius : 50%;
      border-radius      : 50%;
      -moz-box-shadow    : var(--boxshadow-s);
      box-shadow         : var(--boxshadow-s);
      cursor             : pointer;
      width              : 40px;
      height             : 40px;
      top                : calc(50% - 20px);
      z-index            : 2;
      border             : none;
      display            : flex;
      align-items        : center;
      justify-content    : center;

      @include mq(md) {
        width  : 50px;
        height : 50px;
      }
    }

    svg {
      height : 16px;
      stroke : var(--color-text);

      @include mq(md) {
        height : 20px;
      }
    }

    [data-controls="prev"] {
      left : 20px;

      @include mq(md) {
        left : -26px;
      }
    }

    [data-controls="next"] {
      right : 20px;

      @include mq(md) {
        right : -26px;
      }
    }
  }
}