.thumbnail {
  width    : 100%;
  position : relative;
  overflow : hidden;
  display  : block;

  &::before {
    content     : "";
    display     : block;
    padding-top : 65%;
  }

  img {
    background-color : var(--color-body);
    position         : absolute;
    top              : 0;
    left             : 0;
    bottom           : 0;
    right            : 0;
    height           : 100%;
    object-fit       : cover;
    margin           : 0 auto;
  }
}