.navbar {
    width:100%;
    background-color: var(--color-bgc-navbar);
    color:var(--color-text-navbar);
    box-shadow:0 3px 10px rgba(#000,0.1);
    height: 80px;
    a {
        color:var(--color-text-navbar);
    }
    .wrap{
        .logo {  
            .logo_image {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                line-height:45px;
                height: 80px;
                a {
                    height:45px;
                    display: block;
                    img {
                        height:45px;
                        width:auto;
                        vertical-align:top;
                    }
                }
                
            }
        }
        .menu {
            & > ul {
                & > li {
                    & > a {
                        font-size:15px;
                        height:var(--navbar-height);
                        padding-left:10px;
                        padding-right:10px;
                        line-height:80px;
                        height:80px;
                    }
                    &.spnone {
                        @include mq(sm) {
                            display : none;
                        }
                        @include mq(md) {
                            display : block;
                        }
                    }
                }
            }
        }
    }
}