.page_contact {
    margin-top:50px;
    margin-bottom:50px;
    .page_title {
        h1 {
            font-size:28px;
            line-height:140%;
            color: #000000;
            text-shadow:0 2px 0 rgba(#ffffff,1),0 -2px 0 rgba(#ffffff,1),0 3px 5px rgba(#000000,0.3);
            font-weight: bold;
            margin-bottom:25px;
            text-align: center;
        }
    }
    .page_content {
        
    }
}

.company_table {
    border-spacing:0;
    width:100%;
    tr {
        th,td {
            padding-top:20px;
            padding-bottom:10px;
            border-bottom:1px solid #ebebeb;
            vertical-align: top;
            @include mq(sm) {
                display: block;
            }
            @include mq(md) {
                display: table-cell;
            }
        }
        td {
            padding-left:20px;
        }
    }
}

.rule {
    p {
        font-size:15px;
    }
    p,ul,ol {
        margin-bottom:20px;
    }
    h2 {
        margin-bottom:10px;
        font-size:17px;
    }
}