.container, .container_s,.container_xs {
  margin-left  : auto;
  margin-right : auto;
}

.container {
  @media screen and (min-width : 1200px) {
    max-width : 1024px;
  }
  @media screen and (max-width : 480px) {
    padding : 0 25px;
  }
}

.container_s {
  @media screen and (min-width : 1200px) {
    max-width : 800px;
  }
  @media screen and (max-width : 480px) {
    padding : 0 30px;
  }
}

.container_xs {
  @media screen and (min-width : 1200px) {
    max-width : 600px;
  }
  @media screen and (max-width : 480px) {
    padding : 0 0px;
  }
}