.flexbox {
    display: flex;
    flex-direction: row;
}

.flexbox_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexbox_navbar {
    width:100%;
    @extend .flexbox;
    justify-content: space-between;
}